<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
</head>
<style>
    html, body { width:100%;padding:0;margin:0; }
    .container { width:95%;max-width:980px;padding:1% 2%;margin:0 auto }
    .address { cursor:pointer }
    .address:hover { color:#AA0000;text-decoration:underline }
</style>
<body>
    <div class="container">
        <b>Search Address</b>
        <div id="search">
            <input type="text" name="addr" value="" id="addr" size="58" />
            <button type="button" onclick="addr_search();">Search</button>
        <div id="results"></div>
        <div id="get_local"></div>
        </div>

        <br />
        <br>
        <div id="map"></div>
        <div style="display: none;">
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" id="sbtForm" value="Submit">
            </form>
        </div>
    </div>
</body>
<script>
$(document).ready(function(){
    var get_data = '{{loc}}';
    if(get_data == "current_loc"){
        $("#get_local").append("<p>Showing Result for Current Location</p>");
        getCurrentLocation();
    }else{
        var lat = "{{ lat }}";
        var lon = "{{ lon }}";
        var location = "{{ location }}";
        console.log(location);
        $("#get_local").append("<p>Showing Result for:"+ location +"</p>");
        drawMap(lat, lon);
    }
    
})

function drawMap(lat, long){
    var element = document.getElementById('map');

    // // Height has to be set. You can do this in CSS too.
    element.style = 'height:500px; width:1000px';

    // // Create Leaflet map on map element.
    var map = L.map(element);

    // // Add OSM tile leayer to the Leaflet map.
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://Centroxy.com">Centroxy</a> contributors'
    }).addTo(map);
    var target = L.latLng(lat, long);

    map.setView(target, 10);
    L.marker(target).addTo(map);
}

function addr_search(){
    var inp = document.getElementById("addr");
    var xmlhttp = new XMLHttpRequest();
    var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + inp.value;
    xmlhttp.onreadystatechange = function()
    {
    if (this.readyState == 4 && this.status == 200)
    {
        var myArr = JSON.parse(this.responseText);
        console.log(myArr)
        myFunction(myArr);
    }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}

function myFunction(arr){
    var out = "<br />";
    var i;

    if(arr.length > 0)
    {
    for(i = 0; i < arr.length; i++)
    {
    out += "<div class='address' title='Show Location and Coordinates' onclick='chooseAddr(" + JSON.stringify(arr[i]) + ");return false;'>" + arr[i].display_name + "</div>";
    }
    document.getElementById('results').innerHTML = out;
    }
    else
    {
    document.getElementById('results').innerHTML = "Sorry, no results...";
    }
}

function chooseAddr(array_data){
    console.log(array_data);
    var lat1 = array_data.lat;
    var lng1 = array_data.lon;
    var location = array_data.display_name;
    console.log(lat1, lng1, location)
    // lat = lat1.toFixed(8);
    // lon = lng1.toFixed(8);
    $("#id_lat").val(lat1);
    $("#id_lon").val(lng1);
    $("#id_location").val(location);
    $("#sbtForm").click();
}

function getCurrentLocation(){
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    var data = [{"lattitude":position.coords.latitude, "longitude":position.coords.longitude}]
    drawMap(position.coords.latitude, position.coords.longitude);
}
</script>
</html>